
build/lib.linux-x86_64-3.6/pyfastx.cpython-36m-x86_64-linux-gnu.so
build/temp.linux-x86_64-3.6/src/fasta.o
build/temp.linux-x86_64-3.6/src/fastq.o
build/temp.linux-x86_64-3.6/src/identifier.o
build/temp.linux-x86_64-3.6/src/index.o
build/temp.linux-x86_64-3.6/src/kseq.o
build/temp.linux-x86_64-3.6/src/module.o
build/temp.linux-x86_64-3.6/src/read.o
build/temp.linux-x86_64-3.6/src/sequence.o
build/temp.linux-x86_64-3.6/src/util.o
build/temp.linux-x86_64-3.6/src/zran.o
pyfastx.cpython-36m-x86_64-linux-gnu.so
pyfastx.egg-info/dependency_links.txt
pyfastx.egg-info/entry_points.txt
pyfastx.egg-info/PKG-INFO
pyfastx.egg-info/SOURCES.txt
pyfastx.egg-info/top_level.txt
tests/__pycache__/__init__.cpython-36.pyc
tests/__pycache__/test_fasta.cpython-36.pyc
tests/__pycache__/test_fastq.cpython-36.pyc
tests/__pycache__/test_identifier.cpython-36.pyc
tests/__pycache__/test_read.cpython-36.pyc
tests/__pycache__/test_sequence.cpython-36.pyc
build/lib.linux-x86_64-3.6/pyfastxcli.py
build/lib.win-amd64-3.7/pyfastx.cp37-win_amd64.pyd
build/temp.win-amd64-3.7/Release/src/fasta.o
build/temp.win-amd64-3.7/Release/src/fastq.o
build/temp.win-amd64-3.7/Release/src/identifier.o
build/temp.win-amd64-3.7/Release/src/index.o
build/temp.win-amd64-3.7/Release/src/kseq.o
build/temp.win-amd64-3.7/Release/src/module.o
build/temp.win-amd64-3.7/Release/src/pyfastx.cp37-win_amd64.def
build/temp.win-amd64-3.7/Release/src/read.o
build/temp.win-amd64-3.7/Release/src/sequence.o
build/temp.win-amd64-3.7/Release/src/util.o
build/temp.win-amd64-3.7/Release/src/zran.o
pyfastx.cp37-win_amd64.pyd
tests/__pycache__/__init__.cpython-37.pyc
tests/__pycache__/test_fasta.cpython-37.pyc
tests/__pycache__/test_fastq.cpython-37.pyc
tests/__pycache__/test_identifier.cpython-37.pyc
tests/__pycache__/test_read.cpython-37.pyc
tests/__pycache__/test_sequence.cpython-37.pyc
tt.fq
tt.fq.fxi
tt.fq.gz.fxi
tt.list
tt.py
build/temp.linux-x86_64-3.6/src/fastx.o
build/temp.linux-x86_64-3.6/src/fakeys.o
build/temp.linux-x86_64-3.6/src/fqkeys.o
tests/__pycache__/test_fakeys.cpython-36.pyc
build/temp.win-amd64-3.7/Release/src/fakeys.o
build/temp.win-amd64-3.7/Release/src/fastx.o
build/temp.win-amd64-3.7/Release/src/fqkeys.o
tests/__pycache__/test_fakeys.cpython-37.pyc
build/lib.linux-x86_64-3.8/pyfastx.cpython-38-x86_64-linux-gnu.so
build/temp.linux-x86_64-3.8/src/fakeys.o
build/temp.linux-x86_64-3.8/src/fasta.o
build/temp.linux-x86_64-3.8/src/fastq.o
build/temp.linux-x86_64-3.8/src/fastx.o
build/temp.linux-x86_64-3.8/src/fqkeys.o
build/temp.linux-x86_64-3.8/src/index.o
build/temp.linux-x86_64-3.8/src/kseq.o
build/temp.linux-x86_64-3.8/src/module.o
build/temp.linux-x86_64-3.8/src/read.o
build/temp.linux-x86_64-3.8/src/sequence.o
build/temp.linux-x86_64-3.8/src/util.o
build/temp.linux-x86_64-3.8/src/zran.o
pyfastx.cpython-38-x86_64-linux-gnu.so
tests/__pycache__/__init__.cpython-38.pyc
tests/__pycache__/test_fakeys.cpython-38.pyc
tests/__pycache__/test_fasta.cpython-38.pyc
tests/__pycache__/test_fastq.cpython-38.pyc
tests/__pycache__/test_read.cpython-38.pyc
tests/__pycache__/test_sequence.cpython-38.pyc
tests/__pycache__/test_fastx.cpython-36.pyc
tests/__pycache__/test_fqkeys.cpython-36.pyc
tests/__pycache__/test_fastx.cpython-37.pyc
tests/__pycache__/test_fqkeys.cpython-37.pyc
pyfastx_mp.py
test.py
tests/__pycache__/test_fastx.cpython-38.pyc
tests/__pycache__/test_fqkeys.cpython-38.pyc
tests/__pycache__/test_sequence_error.cpython-38.pyc
.DS_Store
/build
/indexed_gzip-1.9.4
/sqlite-amalgamation-3470200
/zlib-1.3.1
indexed_gzip-1.9.4.zip
pyfastx.cpython-39-darwin.so
sqlite-amalgamation-3470200.zip
zlib-1.3.1.zip
