
build/**
pyfastx.cpython-36m-x86_64-linux-gnu.so
pyfastx.egg-info/dependency_links.txt
pyfastx.egg-info/entry_points.txt
pyfastx.egg-info/PKG-INFO
pyfastx.egg-info/SOURCES.txt
pyfastx.egg-info/top_level.txt
tests/__pycache__/**
pyfastx.cp37-win_amd64.pyd
tt.fq
tt.fq.fxi
tt.fq.gz.fxi
tt.list
tt.py
pyfastx.cpython-38-x86_64-linux-gnu.so
pyfastx_mp.py
test.py

.idea/
